@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e5e5e5;
    --background: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  color: theme("colors.neutral.200");
  background-color: theme("colors.red.800");
}
